{% extends "main.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block title %}{{ object|yesno:"Update,Add" }} schema{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex flex-nowrap align-items-center"> 
        <h1>{{ object|yesno:"Update,Create" }} schema {% if fakeschema %}{{ fakeschema.title }}{% endif %}</h1>
        <a href="{% url 'schemas'%}" class="btn btn-link">Back</a>
    </div>
    <button type="submit" name="action" value="submit" class="btn btn-primary">Submit</button>
  </div>
  {% csrf_token %} {{ form|crispy }}

  <div style="margin-right: 20px;">
    <h3>Schema columns</h3>
    {% for formset in inlines %}
    <div class="formset">
      {{ formset.management_form|crispy}} {% for columnsform in formset %}
      <div class="d-flex justify-content-between align-items-center" style="margin-right: 20px;">
        {{ columnsform|crispy }}
      </div>
      {% endfor %}
      <div>
        <button class="btn btn-success" type="submit" name="action" value="add_column">Add column</button>
      </div>
    </div>
  </div>
  {% endfor %}
</form>
{% endblock %}


  
