{% extends 'main.html' %}
{% block title %} Data schemas{% endblock %}
{% block content %}
<div class="container">
    <h1 class="d-flex justify-content-between">
         Data Schemas
        <a href="{% url 'create_schema' %}" class="btn btn-success" >New schema </a>
      </h1>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for schema in object_list %} 
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'schema_detail' schema.id %}">{{ schema.name }}</a></td>
            <td>{{ schema.updated_at|date:"Y-m-d" }}</td>
            <td>
                <a href="{% url 'schema_update' schema.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'schema_delete' schema.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
